*{
    margin: 0;
}
body{
    background: lightblue;
}

header{
    background: url("../IMG/header.jpg") top center;
    height: 350px;
}

header img{
    position: center;
}

.wrapper{
    width: 1000px;
    background: lightcyan;
    margin: 0 auto;
}